*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'IBM Plex Mono', monospace;
    color: yellowgreen;
}
header{
    margin: 2em auto;
    display: block;
    text-align: center;
}
html{
    background-color: black;
}
main{
    margin: 5em auto;
    display: block;
    width: 100%;
    max-width: 800px;
    
}
